﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-horizontal">
    <div class="control-group">
        <div class="control-label">
            <label for="size">Размер</label>
        </div>
        <div class="controls">
            <input type="range" min="1" max="100" id="size" />
            <input type="number" style="width:60px" id="sizeDisplay" readonly />
        </div>
    </div>
    <div class="control-group">
        <div class="control-label">
            <label for="color">Цвет</label>
        </div>
        <div class="controls">
            <input type="color" id="color" />
        </div>
    </div>
</form>
<canvas id="drawer" width="800" height="480"></canvas>
<input type="hidden" id="groupId" value="@ViewBag.Guid" readonly />