﻿#drawer {
    border: 2px solid black;
    cursor: crosshair;
    user-select: none;
    -webkit-user-select: none;
}

    #drawer:active {
        cursor: crosshair;
        user-select: none;
        -webkit-user-select: none;
    }

body {
    margin-top: 60px;
}
